extends layout.pug

block content

  nav.nav
    a(href='/')
      span &larr;
      |  Back

  article.portfolio-about
    .inner-wrapper.flex-row-wrap.two-col
      .about-intro-box.box

        h1.name Rose Delva

        p Full Stack JavaScript Developer


        .about-bio

          div Trying to understand someone’s mindset when they interacting technology is a concept some developers or designers often overlook. Graduated with a Bachelors in Computer Science. I ventured out into the world acquiring many skills and life-lessons underneath my belt.

          div With years of experience (customer service, tech support, web development along with QA (quality assurance). I'm able to communicate with developers and designers as well as taking the time to understand the user experience when it comes accessing, using and coding content.

      .skills-contact-box.box
        h6 Skills

        ul
          li HTML
          li CSS
          li SASS 
          li JavaScript
          li jQuery
          li Git
          li VS Code
          li Bash
          li Accessibility
          li OOP
          li Fetch and Public APIs
          li Node.js
          li Express
          li Pug

        h6 Contact Info

        ul
          li 555-555-1234
          li email@email.com

        a.btn-link(href='https://www.linkedin.com/in/rosedelva/') LinkedIn
        a.btn-link(href='https://github.com/rdelva') GitHub

    nav.nav
      a(href='/')
        span &larr;
        |  Back