extends layout.pug

block content

  article.portfolio-intro

    h1= error.status
    h2= error.message


  article.portfolio-project-thumbs
    .projects-box.box.grid
            p= error.stack
          
    nav.nav
      a(href='/')
        span &larr;
        |  Back