extends layout.pug

block content

  article.portfolio-intro

    h1 Portfolio

    p This portfolio is to showcase my skills in the latest technologies.


  article.portfolio-project-thumbs
    .projects-box.box.grid


      each project in projects
         .cell
          a(href=`/project/${project.id}`)
            img.thumbnail(src=`${project.image_urls[0]}`)
            h5= project.project_name

