<!DOCTYPE html>
html(lang="en" dir="ltr")
  head
    meta(charset='utf-8')
    meta(http-equiv='x-ua-compatible', content='ie=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title Portfolio Site
    link(href='https://fonts.googleapis.com/css?family=Merriweather:300,400,400i,700,800', rel='stylesheet')
    link(rel='stylesheet', href='/static/css/normalize.css')
    link(rel='stylesheet', href='/static/css/styles.css')

  body
    #my-info.sidebar
      .sidebar-info-box
        br
        .thumbnail-box
          img.thumbnail(src='https://placehold.it/550x350', alt='')
        .dev-intro-box

          //- Replace with your name
          h5 Rose Delva

          //- Replace with description of who you are, what you do, and why you are so awesome
          p Hello! My name is Rose and I like to solve problems. Especially when it involves the person between the keyboard/tablet and the chair. Trying to understand someone’s mindset when they interacting technology is a concept some developers or designers often overlook.

          p Graduated with a Bachelors in Computer Science. I ventured out into the world acquiring many skills and life-lessons underneath my belt.

          p With years of experience (customer service, tech support, web development along with QA (quality assurance). I'm able to communicate with developers and designers as well as taking the time to understand the user experience when it comes accessing, using and creating content.


          //- Add path from your '/about' route handler to the href below
          a(href='/about') Learn More &rarr;

    .wrapper
      .header
        .header-info-box
          button#menu-icon.menu-icon(type='button' data-toggle='my-info')

          //- Replace with your name — this is for the mobile layout
          span Rose Delva

      block content

  script(src='/static/js/script.js')